html{
    font-size: 16px;
}

body{
	width: 968px; 
	margin: auto; 
	background-color: #D8BFD8;
}

#banner{
    color: #085ca1;
}

/*
GRID DEFINITION
    7 rows / 4 col 
    1 named section 2 / 4
        ' results results results results'
        'results results results results';
    position "=" sign
        #equals{grid-column: span 2 / 4;

ITEM NAMES
    viewer
    numbers
    zero
    plus
    minus
    times
    divide
    aa-see (AC)
    see-ee (CE)
    equals
*/
.grid-container{
    display: grid;
    grid:  
    ' results results results results'
    'results results results results';
    grid-gap: .63rem;
    background-color: #2196F3;
    padding: .63rem
}

#viewer{
    grid-area: results;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    padding: .5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.grid-container > button{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1.35rem 0;
    font-size: 2rem;
  }
  
#equals{
    grid-column: 4;
    grid-row: 6 / span 2;
}

#footer{
    margin-top: 3rem;
}